/* hero */
.hero {
  height: calc(100vh - 60px);
  width: 100vw;
  max-width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 8fr 11fr;
  align-items: center;
  position: relative;
  /* background: url("/img/hero_main.svg") no-repeat right; */
  /* background-size: 60vw; */
  letter-spacing: 0.04em;
  padding: 0;
}

.bloghome__intro {
  padding: 1em;
  padding-left: 4em;
  position: relative;
  z-index: 10;
}

.bloghome__intro .hero_text {
  font-size: calc(1.8em + 1.2vw);
  font-weight: 600;
}

.bloghome__intro > p {
  margin: 26px 0px 24px 0;
  color: hsl(215, 19%, 48%);
  /* text-shadow: 0 0 #8c99ab; */
  font-size: 1.125rem;
  text-align: justify;
  letter-spacing: -0.04em;
  line-height: 32px;
}

.bloghome__intro > p:nth-child(3) {
  align-self: start;
  margin-top: 0;
}

html[data-theme="dark"] .bloghome__intro > p {
  color: #dfdfdf;
}

.intro__name {
  color: var(--ifm-color-primary);
}

.bloghome__image {
  overflow: hidden;
  width: 100%;
  z-index: 5;
  align-items: center;
  justify-items: center;
}

.bloghome__image svg {
  width: 100%;
  height: auto;
}

:global(.hero_main_svg__js) g,
:global(.hero_main_svg__todo) path:nth-child(1),
:global(.hero_main_svg__magnifier) path:nth-child(1) {
  fill: #2a2b3b;
}

[data-theme="dark"] :global(.hero_main_svg__js) g,
[data-theme="dark"] :global(.hero_main_svg__todo) path:nth-child(1),
[data-theme="dark"] :global(.hero_main_svg__magnifier) path:nth-child(1) {
  fill: #abaff1;
}

.bloghome__scroll-down {
  justify-self: center;
  align-self: end;
  grid-column: span 2;
  position: absolute;
  bottom: 8em;
  background: linear-gradient(25deg, #1081ff, #72e1f6, #b185ff);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 6px;
  cursor: pointer;
}

.bloghome__scroll-down button {
  border: none;
  width: 150px;
  height: 48px;
  background: white;
  border-radius: 4px;
  cursor: pointer;
}

.bloghome__scroll-down button svg {
  stroke: #7f7f7f;
}

.social__links {
  width: 100%;
  display: flex;
  max-width: 210px;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0 2.5em 0;
  z-index: 100;
  position: relative;
}

.social__links > *,
.social__links svg,
.social__links svg path {
  width: 24px;
  height: 24px;
  color: var(--ifm-color-primary);
  fill: var(--ifm-color-primary);
}

.social__links .dropdown {
  display: flex;
  align-items: center;
}

.social__links .dropdown span {
  margin-left: 6px;
  font-weight: 700;
  font-size: 0.9em;
}

.social__links .dropdown__menu {
  max-width: initial;
  right: 0;
  top: 120%;
}

@media (max-width: 1000px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: max-content minmax(0, max-content);
    align-items: start;
    height: auto;
    /* background-position: center bottom;
        background-size: 70vh; */
  }
  .bloghome__intro {
    padding: 0em var(--ifm-spacing-horizontal);
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bloghome__image {
    width: 100%;
    justify-self: center;
    padding-top: 4em;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .bloghome__image svg {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 570px) {
  .hero {
    height: auto;
  }
  .bloghome__image {
    padding-top: 2em;
  }
  .bloghome__image svg {
    width: 100%;
    height: auto;
    padding-left: 12px;
  }
  .bloghome__intro {
    padding-top: 2em;
  }
}

:global(.hero_main_svg__js_rotate) {
  animation: rotating 4s ease-in-out infinite;
  transform-origin: center center;
  transform-box: fill-box;
}

@keyframes rotating {
  from {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
