/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #34ace0;
  --ifm-color-primary-dark: #119cc5;
  --ifm-color-primary-darker: #05879d;
  --ifm-color-primary-darkest: #007a87;
  --ifm-color-primary-light: #6dc8f2;
  --ifm-color-primary-lighter: #c6ebfc;
  --ifm-color-primary-lightest: #f2fbff;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* bilibili video iframe */
.markdown iframe {
  width: 100%;
  height: 300px;
  margin-top: 2vh;
}
